<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqf2D6r7vnWiE36L_4hUTBzUDpbD56_Aw</string>
	<key>GCM_SENDER_ID</key>
	<string>319030585548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tripsync.app</string>
	<key>PROJECT_ID</key>
	<string>tripsync-23f7b</string>
	<key>STORAGE_BUCKET</key>
	<string>tripsync-23f7b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319030585548:ios:10a9d5bf22118374d77a69</string>
</dict>
</plist>