fastapi==0.95.2 
uvicorn[standard]==0.22.0
SQLAlchemy==2.0.34
psycopg2-binary==2.9.11
alembic==1.13.2
python-dotenv==1.0.1
passlib[argon2]==1.7.4
PyJWT==2.9.0
pydantic==1.10.15
python-multipart==0.0.9
aiofiles==23.2.1
email-validator==2.1.1
